doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.6.4.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        title Zoo Application

    body
        .container-fluid
            .mt-4
                h1(class='text-center mb-4') Willkommen im Zoo!
            .row
                .col-md-3
                    ul.list-group
                        each animal in zooAnimals
                            li.list-group-item
                                a(href=`#tab-${animal.name}`, data-toggle='tab')= animal.name

                .col-md-9
                    .tab-content
                        each animal in zooAnimals
                            .tab-pane.fade(id=`tab-${animal.name}`, class=animal.name === 'Löwe' ? 'active show': '')
                                .card
                                    img.card-img-top(src=animal.image, alt=animal.name, style='height: 50%; width: auto;')
                                    .card-body
                                        h2.card-title= animal.name
                                        p.card-text= animal.description
                                        ul.list-group
                                            li.list-group-item Gattung: #{animal.species}
                                            li.list-group-item Herkunft: #{animal.origin}
                                            li.list-group-item Alter: #{animal.age} Jahre
                                            li.list-group-item Betreuender Pfleger: #{animal.caretaker}
                                        p.card-text.comment Kommentare: #{animal.comments}
        script.
            $(document).ready(function(){
                $('.list-group-item a').on('click', function(e){
                    e.preventDefault();
                    var tabId = $(this).attr('href');
                    $('.tab-pane').removeClass('active show');
                    $(tabId).addClass('active show');
                });
            });
